html
    head
        title= title
        link(rel="stylesheet", href="css/index.css")
        link(rel="shortcut icon", href="imgs/favicon.png", type="image/png")
    body
        h1= "Pizzen"
        form(action="/menu", method="post")
            table(style='width:100%', boderwidth="10rem")
                tr
                    th Name
                    th €
                    th Auswahl
                tbody
                    each RowDataPacket in data
                        tr
                            td #{RowDataPacket.bezeichnung}
                            td #{RowDataPacket.preis}
                            td <input name=#{RowDataPacket.pNr} value="1" type="checkbox">
            button(type="submit") Auswählen
